/* Hamburger */
.hamburger{
    display: none;
    width: 40px;
    height: 40px;
    position: relative;
    border: 1px solid #000000;
    background: transparent;
    outline: none;
    box-shadow: none;
}
.hamburger .bar {
    width: 80%;
    height: 2px;
    background-color: #000000;
    position: absolute;
}
.hamburger .bar:nth-child(1){
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}
.hamburger .bar:nth-child(2){
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hamburger .bar:nth-child(3){
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}

/* Layout CSS */

.blog .page-content,
.archive .page-content,
.search .page-content,
.single .page-content {
    margin-top: 50px;
}
.page .page-content {
    margin-top: 0px;
}
.site-header {
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px #aaaaaa;
}
.site-navbar .primary-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-navbar .primary-menu li {
    margin-left: 15px;
    margin-right: 15px;
}
.site-navbar .primary-menu li:first-child {
    margin-left: 0;
    margin-right: 15px;
}
.site-navbar .primary-menu li:last-child {
    margin-left: 15px;
    margin-right: 0;
}
.site-navbar .primary-menu li a {
    font-size: 16px;
    font-weight: 300;
    color: #333333;
}
.site-navbar .primary-menu li.current-menu-item a {
    color: #1345ef;
}
.site-navbar .primary-menu li:hover a,
.site-navbar .primary-menu li:focus a{
    color: #0c2d99;
}
.site-navbar .primary-menu li.current-menu-item::after {
    content: "";
    display: block;
    position: relative;
    top: 2px;
    width: 100%;
    height: 2px;
    background-color: #1345ef;
}
.searchbox .search-btn {
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
}
.searchbox .search-btn:hover{
    color: #1345ef;
}

/* Search Form */
form#searchform > div {
    position: relative;
}
button#searchsubmit {
    background: transparent;
    border: none;
    font-size: 18px;
    color: #aaaaaa;
    position: absolute;
    right: 15px;
    top: 5px;
}
button#searchsubmit:hover,
button#searchsubmit:focus {
    background: transparent;
    color: #000000;
}
form#searchform input[type="text"] {
    width: 100%;
    min-height: 40px;
    padding: 0px 40px 0px 10px;
    border: 1px solid #aaaaaa;
    border-radius: 25px;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}
form#searchform input[type="text"]:focus{
    border-color: #000000;
}
/* Widget Area */
.widget {
    padding: 0px 15px 0px 15px;
    margin-bottom: 30px;
}
.widget-title {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 600;
}
.widget-title::after{
    content: "";
    display: block;
    width: 32px;
    height: 2px;
    background-color: #ff5e00;
}
.widget ul{
    list-style: none;
    margin-right: 0;
    margin-left: 0;
}
.widget ul li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #bbbbbb;
}
/* Blog CSS */
.post-thumbnail {
    position: relative;
    margin-bottom: 5px;
}
.featured-image{
    max-width: 100%;
    height: auto;
}
.post-date {
    box-sizing: border-box;
    position: absolute;
    bottom: 30px;
    left: -15px;
    padding: 10px;
    background-color: #ff5e00;
    color: #ffffff;
    border-radius: 0px 10px 0px 10px;
}
.post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.post-title > h2 {
    margin-bottom: 10px;
}
.post-title > h2 > a {
    display: block;
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    color: #333333;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.post-term > a:last-child {
    padding-right: 0px;
    padding-left: 5px;
}
.post-term > a:first-child {
    padding-right: 5px;
    padding-left: 0px;
}
.post-term > a {
    padding-right: 5px;
    padding-left: 5px;
}
.post-excerpt > p {
    margin-bottom: 15px;
}
.post-excerpt .read-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    border: 1px solid #1345ef;
    border-radius: 20px;
    color: #1345ef;
}
.post-excerpt .read-more:hover,
.post-excerpt .read-more:focus {
    background-color: #0c2d99;
    color: #ffffff;
}
/* Footer CSS */
.site-footer {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #f6f6f6;
    border-top: 1px solid #eeeeee;
}
@media (min-width: 1200px){
    .site-header{
        padding: 0 120px;
    }
}